div.ui-timepicker-div .ui-widget-header{
    margin-bottom           :8px;
    font                    :62.5% 'Trebuchet MS', sans-serif;
    margin                  :50px;
}

div.ui-timepicker-div dl{
    text-align              :left;
}

div.ui-timepicker-div dl dt{
    height                  :25px;
}

div.ui-timepicker-div dl dd{
    margin                  :-25px 10px 20px 65px;
}

div.ui-timepicker-div td {
    font-size               :90%;
}

div.ui-datepicker-buttonpane{
    margin-top              :40px !important;
}

.ui-button{
    font-size               :.7em !important;
}

.row0{
    background-color        :#FFF; border: 1px solid #e1e1e1;
}

.row1{
    background-color        :#e1e1e1; border: 1px solid #e1e1e1;
}
.ui-tabs-panel{
    min-height              :500px;
}
#student_container{
    border                  :1px solid #DDDDDD !important;
    border-radius           :6px;
    background              :url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7;
    padding                 :0.5em;
    min-height              :700px;
    margin-bottom           :10px;
    width                   :99% !important;
}
#team_member_container{
    border                  :1px solid #DDDDDD !important;
    border-radius           :6px;
    background              :url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7;
    padding                 :0.5em;
    min-height              :700px;
    margin-bottom           :10px;
    width                   :99% !important;
}
#breakaway_container{
    padding-top             :1px;
    padding-left            :10px;
    padding-right           :10px;
    border                  :10px solid #F5F5F5;
    outline                 :2000px solid #D8D8D8;
    box-shadow              :0 0 0 1px #CCCCCC inset;
    background-color        :#FFFFFF;
}
.how_to_button.ui-icon-info{
    background-position     :-17px -145px;
    margin-left             :5px;
}

.ui-button .ui-icon.ui-icon-check-all {
    background-image: url("../images/custom_ui_icons/check-all.png");
    width:  16px;
    height: 16px;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-check-all {
    background-image: url("../images/custom_ui_icons/check-all-hover.png");
    width:  16px;
    height: 16px;
}

.ui-button.ui-state-active .ui-icon.ui-icon-check-all {
    background-image: url("../images/custom_ui_icons/check-all-active.png");
    width:  16px;
    height: 16px;
}

.ui-button .ui-icon.ui-icon-check-none {
    background-image: url("../images/custom_ui_icons/check-none.png");
    width:  16px;
    height: 16px;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-check-none {
    background-image: url("../images/custom_ui_icons/check-none-hover.png");
    width:  16px;
    height: 16px;
}

.ui-button.ui-state-active .ui-icon.ui-icon-check-none {
    background-image: url("../images/custom_ui_icons/check-none-active.png");
    width:  16px;
    height: 16px;
}

.ui-button .ui-icon.ui-icon-check-some {
    background-image: url("../images/custom_ui_icons/check-some.png");
    width:  16px;
    height: 16px;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-check-some {
    background-image: url("../images/custom_ui_icons/check-some-hover.png");
    width:  16px;
    height: 16px;
}

.ui-button.ui-state-active .ui-icon.ui-icon-check-some {
    background-image: url("../images/custom_ui_icons/check-some-active.png");
    width:  16px;
    height: 16px;
}

.ui-tabs-selected a {
    cursor:default !important;
}

.tabs-buttons .ui-tabs-nav { 
    padding: 0em; 
    background: transparent; 
    border-width: 0px;
    display: table;
    width:100%;
} 
.tabs-buttons .ui-tabs-nav li { 
    position: static; 
    margin: 0px; 
    border-bottom: 1px solid #AED0EA !important; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    display: table-cell;
    position: static;
    float:none;
} 
.tabs-buttons .ui-tabs-nav li:first-child { 
    -moz-border-radius: 6px 0px 0px 6px; 
    -webkit-border-radius: 6px 0px 0px 6px; 
    border-radius: 6px 0px 0px 6px; 
} 
.tabs-buttons .ui-tabs-nav li:last-child { 
    -moz-border-radius: 0px 6px 6px 0px; 
    -webkit-border-radius: 0px 6px 6px 0px; 
    border-radius: 0px 6px 6px 0px; 
} 
.tabs-buttons .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0px; 
    border-bottom: 1px solid #AED0EA !important; 
}
.tabs-buttons .ui-tabs-nav a {
    width:95%;
}